body {
    background-color: #071E22 !important;
}

.navbar .nav-item a {
    color: #071E22 !important;
    font-size: 20px;
}

.main-cont {
    color: white;
}

.list-group {
    list-style-type: none;
}

.res-item {
    margin-bottom: 10px;
}

.img-resize {
    width: 100%;
    height: auto;
}

.us-box {
    color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 18px;
}