body {
    background-color: #071E22 !important;
    height: 100%;
}
/* body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
} */



.navbar .nav-item a {
    color: #071E22 !important;
    font-size: 20px;
}

.main-cont {
    color: white;
}

.list-group {
    list-style-type: none;
}

.res-item {
    margin-bottom: 10px;
}

.img-resize {
    width: 100%;
    height: auto;
}

.us-box {
    color: white;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 18px;
}
#showDirections:hover{
    opacity: 0.7!important;
    
}
.justify-content-center{
    padding-left: 7px! important;
    padding-right: 7px! important;
}
