#w-cont{
    margin: auto;
    margin-top: 50px;
    width: 60%;
    max-height: 50vh;   
    background-color: white;    
    color: black;
    display: flex;
    flex-direction: column;
}
#blackOnBlack {
    height: 100px;
    width: 100%;
    color: white;
    background-color: #679289;
    text-align: center;
    padding-top: 20px;
    font-size: large;
    text-decoration: underline;
    padding-bottom: 10px;
}
#whiteOnWhite {
    height: 500px;
    width: 100%;
    background: linear-gradient(#679289, white);
    text-align: center;
    display: block;
    padding-top: 10px;
}
.temp {
    font-size: x-large;
    padding: 10px;
}
.summary {
    font-style: italic;
}
